<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>

<body>

  <div class="container">
    {% include header.html %}

    <div class="post-container">
      <article id = "post">        
        <a href="./">
          <h2 id = "post-title">{{ page.title }}</h2>
        </a>
    <div class = "post-info">
      <span>
          <span>{{ page.book }}</span>
      </span>
    </div>
        {{ content }}
      </article>
    </div>
  </div>

{%- include footer.html -%}

</body>
</html>
