<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>

<body>

  <div class="container">
    {% include header.html %}

    <div class="post-container">
      <article id = "post">
        <a href="/book.html">
          <h2 id = "post-title">{{ page.title }}</h2>
        </a>

        <ol>
            {% for article in site[page.collection] %}
              {% unless article.basename == 'index.md' %}
                <li><a class = "archive-link" href="{{ article.url }}">{{ article.basename }} {{ article.title }}</a></li>
              {% endunless %}
            {% endfor %}
        </ol>
      </article>
    </div>
  </div>

{%- include footer.html -%}

</body>
</html>
