<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>

<body>

  <div class="container">
    {% include header.html %}

    <div class="post-container">
      <article id = "post">        
        <h2 id = "post-title">{{ page.title }}</h2>

        <div class = "post-info">
          <span>
              <span><li><a class="archive-link" href="./">返回目录</a></li></span>
          </span>
        </div>

        {{ content }}
      </article>
    </div>
  </div>

{%- include footer.html -%}

</body>
</html>
