---
layout: default
title: 主页
---
{% for post in paginator.posts %}

<div class="post">
    <h2 id = "post-title"><a href="{{ post.url  | relative_url }}">{{ post.title }}</a></h2>

    {% if site.data.settings.date-under-post.active %} 
    <div class = "post-info">
        <span>
            <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date: "%F" }}</time></i> 
        </span>
    </div>
    {% endif %}

    {% if site.data.settings.featured-img.active %}
    <div class = "featured-img-container">
    {% if post.image %}
        <a href="{{ post.url | relative_url }}"><img src="{{ post.image | relative_url }}" width="150" style="float: left; margin-left: 15px; margin-right: 15px;"/></a>
    {% endif %}
    {% if post.gif %}
        <a href="{{ post.url | relative_url }}">{% include gif.html file = post.gif %}</a>
    {% endif %}
    </div>
    {% endif %}

    <p>
        {% if post.customexcerpt %}
            {{post.customexcerpt | strip_html | truncate:70}}
        {% else %}
            {{ post.content | strip_html | truncate:70 }}
        {% endif %}    
        <span class = "continue-reading"><a href="{{ post.url | relative_url }}">阅读文章...</a></span>
    </p>
    <p style="clear: left"></p>
</div>
{% endfor %}

<!-- Pagination links -->
<div class = "paginator">
    {% if paginator.total_pages > 1 %}
    {% if paginator.next_page %}
      <a class = "older paginate-button" href="{{ paginator.next_page_path | relative_url }}">下一页</a>
    {% endif %}
    {% if paginator.previous_page %}
    <a class = "newer paginate-button" href="{{ paginator.previous_page_path | relative_url }}">上一页</a>
  {% endif %}
  {% endif %}
</div>
